body {
    display: flex;
    margin: 0;
}
  
header {
    height: 100vh;
    width: 20vw;
    position: relative;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 5px 5px 5px rgb(150, 150, 150);
    background: #159957;
    background: -webkit-linear-gradient(to top, #155799, #159957);
    background: linear-gradient(to top, #155799, #159957); 
}
  
nav {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.ul-nav {
    list-style-type: none;
    padding: 0;
}
  
.link-nav {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.808);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 23px;
    transition: all 0.2s;    
}

.link-nav:hover {
    color: rgb(10, 49, 121);
    font-weight: bolder;
    font-size: 25px;    
    filter: drop-shadow(15px 10px 5px rgba(10, 49, 121, 0.5));
}
  
.lista-nav {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
  
#imagem-perfil {
    text-align: center;
    width: 190px;
    height: 170px;
    border-radius: 27% 73% 27% 73% / 65% 35% 65% 35% ;
    border: 3px solid #1557996c;    
}

.dados { 
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Trebuchet MS;
    font-weight: bolder;
}

.nome {
    margin-bottom: 0%;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #155799;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;    
}

span {
    color: #159957;
      
}

#icone-maps {
    width: 27px;
    height: 27px;
}

.endereço {
    margin-top: 0%;
    font-size: 19px;
    color: #155799;
    
}

.email {
    font-family: 'Quicksand', sans-serif;   
    font-weight: bolder; 
    text-decoration: none;
    color: #159957;
}

.telefone {
    font-family: 'Quicksand', sans-serif;   
    font-weight: bolder; 
    text-decoration: none;
    color: #159957;
    margin-top: 1px;
    margin-bottom: 5px;
}

.material-icons {
    font-size: 20px;
}

.sobre {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.links ul {
    text-align: left;
    margin-left: -40px;
}

.links li {
    display: inline-block;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 15px;
}

.links img {
    width: 40px;
}

.icone-rede-social-1:hover {
    filter: drop-shadow(5px 6px 8px rgba(11, 105, 199, 0.747));
    transition: all 0.2s; 
}

.icone-rede-social-2:hover {
    filter: drop-shadow(5px 6px 8px rgba(77, 42, 126, 0.747));
    transition: all 0.2s; 
}

.icone-rede-social-3:hover {
    filter: drop-shadow(5px 6px 8px rgba(196, 72, 79, 0.747));
    transition: all 0.2s; 
}

.icone-rede-social-4:hover {
    filter: drop-shadow(5px 6px 8px rgba(42, 168, 26, 0.747));
    transition: all 0.2s; 
}

.conhecimentos {
    position: fixed;
    top: 37%;
    left: 43%;
    transform: translate(-60%, -40%);
    font-family: 'Quicksand', sans-serif;
}

#img-dev {
    width: 40px;
}

.titulo {
    margin-bottom: 0%;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #155799;
    font-weight: bolder;
}

.sub-titulo {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #159957;
    font-weight: bolder;
    margin-left: 5px;
    margin-top: 0px;

}

.hard-skills {
    list-style-type: upper-alpha;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color:#159957;
}

.hard-skills-color {
    color:black;
}

.objetivos {
    position: fixed;
    top: 38%;
    left: 53%;
    transform: translate(-60%, -40%);
    font-family: 'Quicksand', sans-serif;
}

.sub-titulo-obj {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #159957;
    font-weight: bolder;
    margin-left: 5px;
    margin-top: 12px;
    margin-bottom: 2%;        
}

.marc-obj {
    list-style-type: square;    
    font-size: 20px;
    font-weight: bold;
    color:#159957;
}

.obj-color {
    color: black;
}

ul {
    margin: 8px;
}






